@model Ocean.Core.BrowserDetective.Result

<form asp-action="UserAgentLookup">
    <div class="row">
        <div class="form-group col-md-5">
            <input name="UserAgent" type="text" class="form-control" />&nbsp;
            <input type="submit" class="form-control" />
        </div>
    </div>
</form>
<hr />

@if (Model != null)
{
    <fieldset>
        <legend>BrowseCap Details</legend>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            @foreach (var item in Model.Keys)
            {
                if (string.IsNullOrWhiteSpace(Model[item]) == false)
                {
                    <tr>
                        <td>@item</td>
                        <td>@Model[item]</td>
                    </tr>
                }
            }
        </table>
    </fieldset>
    <hr />
    <fieldset>
        <legend>Debug</legend>
        <table>
            <thead>
                <tr>
                    <th>BrowserID</th>
                    <th>BrowserName</th>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            @foreach (var item in Model.Trace)
            {
                <tr>
                    <td><a asp-controller="Home" asp-action="BrowserNode" asp-route-ID="@item.BrowserID">@item.BrowserID</a></td>
                    <td>@item.BrowserName</td>
                    <td>@item.Type</td>
                    <td>@item.Name</td>
                    <td>@item.Value</td>
                </tr>
            }
        </table>
    </fieldset>
    <fieldset>
        <legend>Unit Test</legend>
        @if (ViewBag.Raw_ID != null)
        {
            @Html.Raw("//Header.ID = "+ ViewBag.Raw_ID)
        }
        <div>Dictionary&lt;string, string&gt; Header = new Dictionary&lt;string, string&gt;();</div>
        @foreach (var key in ViewBag.Header.Keys)
        {
            <div>Header.Add("@key","@ViewBag.Header[key]");</div>
        }
    <pre>
        var RS2 = Detective.ProcessData(Header);
        ClassicAssert.AreEqual("@Model.BrowserName", RS2.BrowserName, "browser");
        ClassicAssert.AreEqual(new Version("@Model.version"), RS2.version, "browser");
        ClassicAssert.AreEqual("@Model.OS", RS2.OS, "OS");
        ClassicAssert.AreEqual(@Model.Crawler.ToString().ToLower(), RS2.Crawler, "Crawler");
        ClassicAssert.AreEqual(@Model.isMobileDevice.ToString().ToLower(), RS2.isMobileDevice, "isMobileDevice");
        ClassicAssert.AreEqual("@Model.mobileDeviceModel", RS2.mobileDeviceModel, "isMobileDevice");
        ClassicAssert.AreEqual("@Model.mobileDeviceManufacturer", RS2.mobileDeviceManufacturer, "mobileDeviceManufacturer");
        ClassicAssert.AreEqual("@Model.Platform", RS2.Platform, "Platform");
        ClassicAssert.AreEqual("@Model.layoutEngineVersion", RS2.layoutEngineVersion, "layoutEngineVersion");
        ClassicAssert.AreEqual("@Model.layoutEngine", RS2.layoutEngine, "layoutEngine");
        ClassicAssert.AreEqual("@Model.Chromeversion", RS2.Chromeversion, "Chromeversion");
        ClassicAssert.AreEqual("@Model.AppleWebTechnologyVersion", RS2.AppleWebTechnologyVersion, "AppleWebTechnologyVersion");
    </pre>
    </fieldset>
}
